body {
    font-size: 133%;
    font-family: sans-serif;
    background-color: rgb(227, 237, 205)
}

h1 {
    color: darkorchid;
}

img.align-right {
    float: right; margin-left: 0%;
}

h4 {
    color: darkorchid;
}