button {
    background-color: mediumslateblue;
    border: 2px green dashed;
    color: greenyellow;
    text-align: center;    
    font-size: 16px;
}

header {
    background-color: lightpink;
    text-align: center;
}

header.p {
    text-align: center;
    font-weight: bold;
    font-size: 110%;
    color: blue;

}

h1.foo{
        text-align: center;
    }

h1#new-point {
    text-align: center;
}

img#list-button-utah{
    width: 100px;
    height: 100px;
    float: right;
}
main {
    background-color:lightpink;
}

footer {
    background-color:lightcyan;
    text-align: center;
}
p.byline {
    font-style: italic;
    font-size: 80%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}