header {
    background-color: white;
    text-align: center;
}

header p {
    font-weight: bold;
    color: blue;
}

p.byline {
    font-style: italic;
    font-size: 80%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav {        
    background-color: aliceblue;
    border: 1px green solid;
    padding: 8px;
    margin: -1px 0px 0px 0px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

nav li {
    display: inline;
    padding: 8px;    
}

main {
background-color: red;
}

figure.left {
    float: right;
}

footer {
    background-color: blue;
    text-align: center;
}